<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"

import="org.opencms.jsp.CmsJspActionElement"

%><%!

private static final String siteMapGraphicsPath = "/system/modules/ru.onemanteam.opencms.modules.portal/resources/pics/sitemap/";


%><%

CmsJspActionElement cms = new CmsJspActionElement(pageContext, request, response);

%>@CHARSET "UTF-8";

#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}

#primaryNav.col1 li { width:99.9%; }
#primaryNav.col2 li { width:50.0%; }
#primaryNav.col3 li { width:33.3%; }


#primaryNav.col4 li { width:25%; }
#primaryNav.col5 li { width:20%; }

#primaryNav.col6 li { width:16.6%; }
#primaryNav.col7 li { width:14.2%; }
#primaryNav.col8 li { width:12.5%; }
#primaryNav.col9 li { width:11.1%; }
#primaryNav.col10 li { width:10.0%; }

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

.sitemap {
	margin: 40px 0;
	width: 100%;
	display:block;
	position:relative;
}

/*
#primaryNav a:link:before,
#primaryNav a:visited:before {
    content: " " attr(href) " ";
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
*/

#primaryNav {
	margin: 0;
	float: left;
	width: 100%;
}
#primaryNav .first-child {
	display: block;
	float: none;
	background: #ffffff url('<%= cms.link(siteMapGraphicsPath + "L1-left.png")%>') center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}
#primaryNav li {
	float: left;
	background: url('<%= cms.link(siteMapGraphicsPath + "L1-center.png")%>') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}
#primaryNav li a {
	margin: 0 5px;
	padding: 10px 0;
	display: block;
	font-size: 12px;
	text-align: center;
	color: black;	
	background: #999 url('<%= cms.link(siteMapGraphicsPath + "white-highlight.png")%>') 0 -4px repeat-x;
	border: 1px solid #aaa;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
	text-transform:uppercase;
}

#primaryNav .first-child a{
	background-color: #f00;
	color:#fff;
	border:1px solid #f00;
	font-weight:bold;
	font-size: 14px;
}

#primaryNav .first-child a:hover {
	background-color: #FF0000;
}

#primaryNav li a:hover {
	/*
	background-color: #e2f4fd;
	border-color: #97bdcf;
	*/
	background-color: #fffce5;
	
}
#primaryNav li.last-child {
	background: url('<%= cms.link(siteMapGraphicsPath + "L1-right.png")%>') center top no-repeat;
}

#primaryNav li a:link:before,
#primaryNav li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

#primaryNav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('<%= cms.link(siteMapGraphicsPath + "vertical-line.png")%>') center bottom repeat-y;
}
#primaryNav li li a {
	/*background-color: #cee3ac;
	border-color: #b8da83;
	*/
	background-color: #ccc;
	border-color: #999;
	text-transform:none;
}
#primaryNav li li a:hover {
	/*border-color: #94b75f;
	background-color: #e7f1d7;*/
	
}
#primaryNav li li.first-child {
	padding-top: 30px;
}
#primaryNav li li.last-child {
	background: url('<%= cms.link(siteMapGraphicsPath + "vertical-line.png")%>') center bottom repeat-y;
}
#primaryNav li li a:link:before,
#primaryNav li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

#primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: #ffffff url('<%= cms.link(siteMapGraphicsPath + "L3-ul-top.png")%>') center top no-repeat;
}
#primaryNav li li li {
	background: url('<%= cms.link(siteMapGraphicsPath + "L3-center.png")%>') left center no-repeat;
	padding: 5px 0;
}
#primaryNav li li li a {
	background-color: #E9E9E6 /*#fff7aa*/;
	border-color: #C3CBD1 /*#e3ca4b*/;

	padding: 8px 0;
	width: 90%;
	float: right;
}
#primaryNav li li li a:hover {
	/*

	*/
}
#primaryNav li li li.first-child {
	padding: 15px 0 5px 0;
	background: url('<%= cms.link(siteMapGraphicsPath + "L3-li-top.png")%>') left center no-repeat;
}
#primaryNav li li li.last-child {
	background: url('<%= cms.link(siteMapGraphicsPath + "L3-bottom.png")%>') left center no-repeat;
}
#primaryNav li li li a:link:before,
#primaryNav li li li a:visited:before {
	color: #ccae14;
	font-size: 9px;
}